.vs/bin/
obj/
*.log
*.vspscc
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.ds_store
packages/
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/
.idea/
.vscode/
ScaffoldingReadMe.txt
*.ncrunch*
*ReSharper*
*resharper*
*.DotSettings.user
*.tmp
*.temp
*.tbd
*.ps1
*.cmd
*.bat
*.sh
appsettings.json
appsettings.Development.json
appsettings.Production.json
appsettings.*.json
*.log
*.csv
*.tsv
*.sqlite
*.db
*.sql
*.jsonl